@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$white : #ffffff;

body{
   position: relative; 
   margin: 0;
   padding: 0;
   width: 100%;
   background-color: #ffffff;
   
//  bg-orange
    .right_input{
        width: 100%;
        height: 100vh;
        clip-path: polygon(63% 0, 100% 0, 100% 100%, 36% 100%);
float: right;

         overflow: hidden;

         h1{
            font-family: 'Righteous', cursive;

            margin-left: 65%;
            margin-top: 20%;
         }
         hr{
            margin-left:65%;
         }
       form{
       margin-top: 10%;
        margin-left: 65%;
       
        input{

            width: 75%;
        }
       }
       p{
        margin-left: 65%;

       }
    }
    .left-img{
        clip-path: polygon(0 0, 62% 0, 35% 100%, 0% 100%);
        width: 100%;
        height: 100vh;
       
        z-index: 9999;
        float: left;
        position: absolute;
        background-image: url("../img/woonnkamer-12.jpg");
        //background-image: 110% 100%;
      
        background-repeat: round;
      
        overflow: hidden;
       

        image{
            
       overflow: hidden;
            
          
        }
    }
// .container{
    

    .home_dex{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        position: relative;
      
        header{
            
            margin-top:0;
            width: 94%;
            clip-path: polygon(0 0, 79% 0, 93% 100%, 0% 100%);
            margin-left: 5%;
            border-radius: 0px 0px 0px 5px;
            margin-bottom: 20px;
           
            a{
                font-size: 52px;
                font-family: 'Righteous', cursive;
                text-decoration: underline;
                color: black;
            }
        
        }
        .entree_welkom{
          
            width: 95%;
            height: 150px;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 25.5% 0, 35.5% 100%, 0% 100%);
            border-radius: 5px;
            z-index: 9999;
            float: left;
            //flex-wrap: wrap;
            //position: absolute;
            
        }
        .entree_info{
            margin-top: 4%;
            width: 95%;
            //height: 150px;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 40% 0, 51.5% 100%, 0% 100%);
            border-radius: 5px;
            float: left;
            z-index: 9999;
            // flex-wrap: wrap;
            //position: absolute;
        }
        .entree_toevoegen{
            margin-top: 4%;
            width: 95%;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 56% 0, 65.5% 100%, 0% 100%);
            border-radius: 5px;
            float: left;
            z-index: 9999;
            //flex-wrap: wrap;
            //position: absolute;
           
            
            
            h3{
                float: left;
                padding-right: 10%;
            }
            button{
                padding: 0.7%;
               width: 35%;
                border-color: rgba(240, 248, 255, 0);
                clip-path: polygon(0 0, 88% 0, 98% 100%, 0% 100%);
                border-radius: 5px;
                

            }


        }
       
        .home_img{
           
          margin-left:33%;
          width: 60%;
          height: 610px;
          
          overflow: hidden;
          position:absolute;
          float: right;
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 62% 100%);
          border-radius: 0px 5px 5px 0px;
          background-image: url(../img/interieur.jpg );
          


        }

       
    }

    .inventory{
        margin-top: 100px;
        
        width: 100%;
         display: flex;
           justify-content: center;
           flex-wrap: wrap;
           padding-bottom: 5%;


        .stoel1 {
            
            width: 20%;
            background-color: $white;
            float: left;
            padding-bottom: 2%;
            border-radius: 5px;
         
            img{
                border-radius: 5px;
                margin: 5%;
                margin-top: 5%;
                margin-left:20%;
               margin-right: 20%;
                
                //width: 200px;
                height: 200px;
                box-shadow: 5px 5px 10px 5px  #a0a0a073 ;
            }
            h4{
                margin-left: 3%;
            }
            p{
                margin-left: 3%;
            }
            button{
                border-radius: 5px;
                margin-left: 15%;
                box-shadow:5px 5px 5px #a0a0a073 ;
                border: 0px;
            }
        }
    }

//}



    
}