@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body{
   position: relative; 
   margin: 0;
   padding: 0;
   width: 100%;
   background-color: #ffffff;
   
//  bg-orange
    .right_input{
        width: 100%;
        height: 100vh;
        clip-path: polygon(63% 0, 100% 0, 100% 100%, 36% 100%);
float: right;

         overflow: hidden;

         h1{
            font-family: 'Righteous', cursive;

            margin-left: 65%;
            margin-top: 20%;
         }
         hr{
            margin-left:65%;
         }
       form{
       margin-top: 10%;
        margin-left: 65%;
       
        input{

            width: 75%;
        }
       }
       p{
        margin-left: 65%;

       }
    }
    .left-img{
        clip-path: polygon(0 0, 62% 0, 35% 100%, 0% 100%);
        width: 100%;
        height: 100vh;
       
        z-index: 9999;
        float: left;
        position: absolute;
        background-image: url("../img/woonnkamer-12.jpg");
        //background-image: 110% 100%;
      
        background-repeat: round;
      
        overflow: hidden;
       

        image{
            
       overflow: hidden;
            
          
        }
    }
// .container{
    

    .home_dex{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        position: relative;
      
        header{
            
            margin-top:0;
            width: 94%;
            clip-path: polygon(0 0, 79% 0, 93% 100%, 0% 100%);
            margin-left: 5%;
           
            h1{
                font-family: 'Righteous', cursive;
            }
        
        }
        .entree_welkom{
            width: 95%;
            height: 150px;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 26% 0, 37% 100%, 0% 100%);
            border-radius: 5px;
            float: left;
            flex-wrap: wrap;
            
        }
        .entree_info{
            width: 95%;
            //height: 150px;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 39% 0, 53% 100%, 0% 100%);
            border-radius: 5px;
            float: left;
            flex-wrap: wrap;
        }
        .entree_toevoegen{
            width: 95%;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 54% 0, 65% 100%, 0% 100%);
            border-radius: 5px;
            float: left;
            flex-wrap: wrap;
            
            h3{
                float: left;
                padding-right: 10%;
            }
            button{
                padding: 0.7%;
                border-color: rgba(240, 248, 255, 0);
                clip-path: polygon(0 0, 68% 0, 96% 100%, 0% 100%);
                border-radius: 5px;
                

            }

        }
        .home_img{
          margin-left:33%;
          width: 60%;
          height: 78vh;
          z-index: 9999;
          overflow: hidden;
          position:absolute;
          float: right;
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 64% 100%);


        }

       
    }
    .inventory{
        height: 200px;
        width: 100%;
    }

//}



    
}