@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

body .right_input {
  width: 100%;
  height: 100vh;
  -webkit-clip-path: polygon(63% 0, 100% 0, 100% 100%, 36% 100%);
          clip-path: polygon(63% 0, 100% 0, 100% 100%, 36% 100%);
  float: right;
  overflow: hidden;
}

body .right_input h1 {
  font-family: 'Righteous', cursive;
  margin-left: 65%;
  margin-top: 20%;
}

body .right_input hr {
  margin-left: 65%;
}

body .right_input form {
  margin-top: 10%;
  margin-left: 65%;
}

body .right_input form input {
  width: 75%;
}

body .right_input p {
  margin-left: 65%;
}

body .left-img {
  -webkit-clip-path: polygon(0 0, 62% 0, 35% 100%, 0% 100%);
          clip-path: polygon(0 0, 62% 0, 35% 100%, 0% 100%);
  width: 100%;
  height: 100vh;
  z-index: 9999;
  float: left;
  position: absolute;
  background-image: url("../img/woonnkamer-12.jpg");
  background-repeat: round;
  overflow: hidden;
}

body .left-img image {
  overflow: hidden;
}

body .home_dex {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}

body .home_dex header {
  margin-top: 0;
  width: 94%;
  -webkit-clip-path: polygon(0 0, 79% 0, 93% 100%, 0% 100%);
          clip-path: polygon(0 0, 79% 0, 93% 100%, 0% 100%);
  margin-left: 5%;
  border-radius: 0px 0px 0px 5px;
  margin-bottom: 20px;
}

body .home_dex header a {
  font-size: 52px;
  font-family: 'Righteous', cursive;
  text-decoration: underline;
  color: black;
}

body .home_dex .entree_welkom {
  width: 95%;
  height: 150px;
  margin-left: 5%;
  font-family: 'Righteous', cursive;
  -webkit-clip-path: polygon(0 0, 25.5% 0, 35.5% 100%, 0% 100%);
          clip-path: polygon(0 0, 25.5% 0, 35.5% 100%, 0% 100%);
  border-radius: 5px;
  z-index: 9999;
  float: left;
}

body .home_dex .entree_info {
  margin-top: 4%;
  width: 95%;
  margin-left: 5%;
  font-family: 'Righteous', cursive;
  -webkit-clip-path: polygon(0 0, 40% 0, 51.5% 100%, 0% 100%);
          clip-path: polygon(0 0, 40% 0, 51.5% 100%, 0% 100%);
  border-radius: 5px;
  float: left;
  z-index: 9999;
}

body .home_dex .entree_toevoegen {
  margin-top: 4%;
  width: 95%;
  margin-left: 5%;
  font-family: 'Righteous', cursive;
  -webkit-clip-path: polygon(0 0, 56% 0, 65.5% 100%, 0% 100%);
          clip-path: polygon(0 0, 56% 0, 65.5% 100%, 0% 100%);
  border-radius: 5px;
  float: left;
  z-index: 9999;
}

body .home_dex .entree_toevoegen h3 {
  float: left;
  padding-right: 10%;
}

body .home_dex .entree_toevoegen button {
  padding: 0.7%;
  width: 35%;
  border-color: rgba(240, 248, 255, 0);
  -webkit-clip-path: polygon(0 0, 88% 0, 98% 100%, 0% 100%);
          clip-path: polygon(0 0, 88% 0, 98% 100%, 0% 100%);
  border-radius: 5px;
}

body .home_dex .home_img {
  margin-left: 33%;
  width: 60%;
  height: 610px;
  overflow: hidden;
  position: absolute;
  float: right;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 62% 100%);
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 62% 100%);
  border-radius: 0px 5px 5px 0px;
  background-image: url(../img/interieur.jpg);
}

body .inventory {
  margin-top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5%;
}

body .inventory .stoel1 {
  width: 20%;
  background-color: #ffffff;
  float: left;
  padding-bottom: 2%;
  border-radius: 5px;
}

body .inventory .stoel1 img {
  border-radius: 5px;
  margin: 5%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  height: 200px;
  -webkit-box-shadow: 5px 5px 10px 5px  #a0a0a073;
          box-shadow: 5px 5px 10px 5px  #a0a0a073;
}

body .inventory .stoel1 h4 {
  margin-left: 3%;
}

body .inventory .stoel1 p {
  margin-left: 3%;
}

body .inventory .stoel1 button {
  border-radius: 5px;
  margin-left: 15%;
  -webkit-box-shadow: 5px 5px 5px #a0a0a073;
          box-shadow: 5px 5px 5px #a0a0a073;
  border: 0px;
}
/*# sourceMappingURL=app.css.map */